<div class="row">
  <div>
    <%= form_for(@public_page) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :content %>
      <%= f.cktext_area :content, rows: 50 %>
      <br>
      <%= f.submit "Update", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>